@font-face {
  font-family: barlow;
  src: url(./assets/fonts/barlow.regular.ttf);
}

@font-face {
  font-family: bellefair;
  src: url(./assets/fonts/Bellefair-Regular.ttf);
  font-weight: 400;
}

:root {
  --dark-blue: hsl(230, 35%, 7%);
  --light-blue: hsl(231, 77%, 90%);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: barlow, Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  /* color: white; */
}

button {
  font-family: inherit;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.home-container {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-image: url(./assets/home/background-home-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* NAVABR CSS START */
.nav {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 24px;
  padding-block: 22px;
}
.nav-logo {
  width: 2.5rem;
  height: 2.5rem;
}
.nav-link {
  font-size: 19px;
  letter-spacing: 0;
  text-transform: uppercase;
}
.nav-links-ul {
  position: absolute;
  top: 0px;
  right: -100%;
  bottom: 0px;
  width: 70%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 80px;
  padding-inline:20px;
  padding-block: 32px;
  backdrop-filter: blur(44px);
  transition: right 0.4s ease;
}
.nav-links-ul ul {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.close-menu-btn {
  background-color: transparent;
  align-self: flex-end;
  border: none;
  cursor: pointer;
}
.close-menu-btn img {
  width: 1.4rem;
  height: 1.312rem;
}
.nav-link {
  color: var(--white);
}

.open-menu-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.open-menu-btn img {
  width: 1.5rem;
  height: 1.312rem;
}
.show-menu{
  right: 0;
}

/* HOME CONTENT CSS */
.main{
  display: flex;
  flex-direction: column;
  gap: 150px;
}
.home-content{
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-inline: 24px;
  padding-block: 30px;
}

.home-content h4{
  font-size: 1.1875rem;
  color: var(--light-blue);
  text-transform: uppercase;
  font-weight: 400;
}

.home-content h1{
  font-size: 5rem;
  font-family:bellefair ;
  text-transform: uppercase;
  
}

.home-content p{
  font-size: 0.937rem;
  text-align: center;
  line-height: 2rem;
  color: var(--light-blue);
}
.explore-circle {
  display: flex;
  justify-content: center;
  align-items: center;

}
.explore-circle .circle{
   width: 9rem;
   height: 9rem;
   background-color: var(--white);
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: bellefair;
   font-weight: 400;
}